.cart {
  margin-left: 20px;
}
.cart .cart-button {
	cursor: pointer;
}

.order-num {
	background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: var(--bs-white);
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: -9px;
    right: -9px;
}


.cart-list-products {
	width: 500px;
	height: 100vh;
	background: var(--bs-white);
    transform: translateX(130px);
	margin: 0;
	padding: 0;
	list-style: none;
	box-shadow: 0 5px 32px 0 rgba(208,219,229,.85),0 4px 6px 0 rgba(107,132,160,.18), 0 5px 21px 0 rgba(237,239,242,.36);
	padding: 10px;
	top: -20px;
	right: 0;
	z-index: 1;
	overflow: auto;
}



.cart-list-products .cartItem-product {
	margin: 20px 0;
}

.cartItem-product .cartItem-product__remove {
	width: 30px;
    height: 30px;
    top: 25px;
    right: 10px;
    color: red;
    font-size: 14px;
    cursor: pointer;
    transition: .25s;
    border-radius: 10px;
}
.cartItem-product .cartItem-product__remove:hover {
	background-color: #eee;
}



.cart-list-order-products {
	margin: 20px 0;
	background-color: #f2f2f2;
	border-radius: 20px;
	padding: 20px;
}


.cart__order-btn{
    background-color: #5d81fa;
    padding: 10px;
    border-radius: 5px;
    color: var(--bs-white);
    margin: 20px 0 0 0;
    transition: .25s;
}

.cart__order-btn:hover{
	background-color: var(--bs-white);
	color: #5d81fa;
	border: solid #5d81fa;
}


.product__cart {
	margin-top: 10px;
}

.remove {
}
.remove__cart {
}

.product__cart-list {
  list-style-type: none;
}
.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #333;
}
.product {
}
.product__img {
  width: 200px;
  padding: 0 10px;
}
.product__img-card {
}
.product__info {
  width: 200px;
  padding: 0 10px;
}
.product__info-text {
  font-weight: 400;
  margin: 5px 0;
  font-size: 12px;
  color: #999;
  line-height: 1.8;
}
.product__info-title {
  font-size: 13px;
  color: #999;
  line-height: 1.3;
  font-weight: 400;
}

.product__count{
}

.button-count {
  width: 100px;
}
.button-count__btn {
}
.button-count__btn-add {
}
.button-count__input {
  width: 20px;
  height: 20px;
}
.button-count__btn-minus {
}
.product__price {
  width: 100px;
}
.product__price-info {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}
.product__remove {
	top: 0;
	right: 15px;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}

/*------------------------*/
.button-count {
	display: flex;
	margin-right: 25px;
}
.button-count .button-count__input,
.button-count .button-count__btn {
	--size: 28px;
	width: var(--size);
	height: var(--size);
}
.button-count .button-count__btn {
	background-color: var(--bs-white);
	color: var(--pr);
	border: none;
	border-radius: .25rem;
	transition: .25s;
	cursor: pointer;
}
.button-count .button-count__btn:hover {
	background-color: var(--pr);
	color: var(--bs-white);
}
.button-count .button-count__btn--add {

}
.button-count .button-count__btn--minus {

}
.button-count .button-count__input {
	text-align: center;
	border: none;
	background: none;
	font-size: 14px;
	font-weight: 700;
}

