.page-login {
	background: #2148C0;
	background-image: url("../img/page-login/bg-detile1.png"), url("../img/page-login/bg-detile2.png");
	background-repeat: no-repeat;
   background-position: top right, bottom left;
}

.form-auth {
	width: 300px;
}
.form-auth .form-auth__img-hold {
    margin-bottom: 70px;
}
.form-auth .form-auth__img {
}
.form-auth .form-auth__input-hold {
}
.form-auth .form-auth__input-icon {
	left: 12px;
}
.form-auth .form-auth__input {
	height: 43px;
	padding: 0 12px 0 48px;
	color: var(--bs-white);
}
.form-auth .form-auth__input::placeholder {
	--bs-body-font-size: 16px;
	color: var(--bs-white);
}
.form-auth .form-auth__btn {
	--bs-btn-padding-y: 13px;
	--bs-btn-color: #2148C0;
	--bs-btn-font-weight: 600;
}
.form-auth .form-auth__remember {
}
.form-auth .form-auth__remember-link {
	--bs-btn-color: var(--bs-white);
	--bs-btn-hover-color: var(--bs-gray-300);
}
















.form-control {
	background-color: rgba(var(--bs-white-rgb), 0.08);
}

.form-control:focus{
	color: var(--bs-body-bg);
	background-color: rgba(var(--bs-white-rgb), 0.08);
    border-color: var(--bs-body-bg);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-body-bg-rgb),.25);
}

.img-hold {
    margin-bottom: 5.5rem;
}

.ms-2 {
    margin-left: 3.5rem!important;
}

.btn-auth-submit {
    margin-top: 2rem;
}

.ps-4 {
    padding-left: 3.5rem!important;
}

.start-50 {
    left: 10%!important;
}



